$primary-color: #444;
$secondary-color: #42b983;
$toggle-width: 45px;
$toggle-padding: 2px;
$toggle-height: $toggle-width / 2 + $toggle-padding;

@mixin easeOut {
  transition: all 0.25s ease-out;
}

@mixin mediaS {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin mediaM {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mediaL {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin mediaXL {
  @media (min-width: 1200px) {
    @content;
  }
}
